#body-EleVarios {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/mapaDRC.jpg');
    background-size: cover;
    background-position: center;
}
#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: auto;
}
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* Blanco traslúcido */
    padding: 60px; /* Aumentamos el padding */
    border-radius: 20px; /* Mayor radio para los bordes */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8); /* Sombra más pronunciada */
}

#data-form {
    text-align: left;
    margin-bottom: 20px;
}
.input-wrapper {
    display: inline-block;
    width: 48%; /* Ancho reducido para dejar espacio entre los elementos */
}
.input-wrapper label {
    font-weight: normal; /* Quitar negrita */
}
.input-wrapper input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
#agregar,
#generar-pdf {
    margin: 10px;
    padding: 15px 40px; /* Aumentamos el padding vertical y horizontal */
    font-size: 18px;
    border: 2px solid #a93226; /* Borde rojo */
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; /* Fondo transparente */
    color: #a93226; /* Rojo */
    display: inline-block;
    width: 48%; /* Ancho reducido */
    transition: background-color 0.3s ease;
}
#generar-pdf:hover,
#agregar:hover {
    background-color: rgba(169, 50, 38, 0.1); /* Rojo suave en hover */
}
#generar-pdf {
    margin-top: 20px;
}
#cantidad-agregada {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
}